body{
  margin: auto auto auto auto;
  width: 50%;
  background:#f8f8f8;
  background:url('images/tiles-02.png');
  font-family:'montserrat', arial;
  text-align: center;
}

.title{
  margin-top: 350px;
}

.search{
  margin-top: 60px;
}