<h1>Your Word Is <%= "#{@word.text}" %></h1>
<table class="table table-striped">
  <thead>
    <th>Text</th>
    <th>Letters</th>
  </thead>
  <tbody>
    <tr>
      <td><%= "#{@word.text}" %></td>
      <td><%= "#{@word.letters}" %></td>
    </tr>
  </tbody>
</table>