<div class="title"><h1>Anagrams! Get Your Anagrams Here!</h1></div>

<div class="search"><form action="/" method="post" class="form">
  <label for="word">Enter a word</label>
  <input type="text" name="word">
  <input type="submit" class="btn">
</form></div>

<% if @error.present? %>
  <p class='error'><%= "#{@error}" %></p>
<% end %>